@model Negocio.Models.Produto
    
@*@{
    @ViewBag.Title = "Busca de Produtos";
}*@


<table>
    
    <tr>
        <th>Descrição</th>
        <th>Categoria</th>
    </tr>

    <tr>
        <td>@Model.Descricao</td>
        <td>@Model.IdCategoria</td>
    </tr>
</table>